body {
    background-color: silver;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    line-height: 1.6;
    
}
h2{
    text-align: center;
    font-weight: 700;
    
}
.main{
    background-color: whitesmoke;
}
.quotataion {
    text-align: center;
    font-size: 2em;
    /* margin: 10px; */
    color: skyblue;
}
.brandname {

    font-family: papyrus;
    color: skyblue;
}
.face-div-bg{
    width: 100%;
    height: 600px;
    object-fit: none;
    background-image: url("../images/peace1.jpg");
    margin-bottom: 20px;
}
.more-info-cards{
    margin-bottom: 20px;
}
.icon {
    max-width: 100px;
    height: 100px;
    margin: auto;
    padding: 10px;
}
.contact-options{
    padding: 20px;

}
.contact-options h2{
    margin-bottom: 2em;
    margin-top: 2em;
}
.request-btn{
    color: #fff;
    /* padding: 5px; */
    /* border: 5px solid red; */
    height: auto;
}
#footer {
    background-color: aliceblue;
    width: 100%;
    height: 75px;
    /* border: 5px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.footer-nav {
    list-style-type: none;
    padding: 5px;
    
}
.footer-nav li{
    display: inline-block;
    margin: 5px;
}