{% extends 'base.html' %}
{% load static %}
{block title}About{endblock}
{% block content %}
<div class=" face-div-about container-fluid">
    <div class="help-us">
        <h2 style="font-weight: 800;">Help us help others</h2>
        <p>We’re committed to the mental health and safety of our family,friends, community and employees—that’s why our approach to facing our real problems is our priority. 
            Now, more than ever, we’re dedicated to ensuring our team/community  helps you beat your biggest worries.We are her to face this together</p>
            
        </div>
    </div>
    
        <section class="stats-section container-fluid" style="background-color: #f1f1f0;">
            <div class="container">
            <div class="row stats-summary">
                <div class=" col-md-6 stats-info d-flex flex-column align-items-start">
                    <h2>State of being</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
                <div class=" col-md-6">
                    <img src="{% static 'images/happinesspic.jpg' %}" alt="" class="img-responsive" width="100%;" height="auto;">
                    
                </div>        
            </div>
            </div>
        </section>
        
        <section class="history-section container-fluid">
            <div class="container">
            <div class="row stats-summary">
                <div class="col-md-6">
                    <h3>History</h3>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. 
                        Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, 
                        and going through the cites of the word in classical literature, discovered the undoubtable source.
                        Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC.
                        This book is a treatise on the theory of ethics, very popular during the Renaissance.
                        The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
                        
                    </div>
                    <div class="col-md-6 our-mission">
                        <h3>Our Mission</h3>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                             Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                             sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

                    </div>
                </div>
                </div>
            </section>
            <section class="cards-section">
                <div class="container">
                    <div class="rowl process-cards">
                        <div class="col red" >
                            Accept this isnt easy
                        </div>
                        <div class="col yellow" >
                            Find what is good for me
                        </div>
                        <div class="col  purple" >
                            Live happily ever after
                        </div>
                    </div>
                </div>
                </div>
            </section>
        
        {% endblock %}