<!doctype html>
{% load static %}
<html lang="en">
<head>
    <title>nirescue</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <div class="container d-flex flex-row justify-content-between">
                <a class="navbar-brand brandname" href="#">Mind your mind</a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    
                </ul>
                
            </div>
        </div>
    </nav>
</header>
<main role="main">
    <p class="quotataion"><cite>"A problem shared is a problem half solved"</cite></p>
    <section id="face-div">
        <div class="face-div-bg container-fluid">
            <!-- <img src="{% static 'images/okay.jpg' %}" alt="" class="img-fluid"> -->
        </div>
    </section>
    
    <section id="more-info-section">
        <div class="container more-info-cards">
            <div class="card-deck">
                <div class="card d-flex flex-row">
                    <img class="icon" src="{% static 'images/support-ind.png' %}" alt="support">
                    <!-- <p>hello flexy is rell shit </p> -->
                    <div class="card-body">
                        <h5 class="card-title">About us</h5>
                        <p class="card-text">We care for mental health.Let's face this together and we shall for sure triumph</p>
                    </div>
                </div>
                <div class="card d-flex flex-row">
                    <img class="icon" src="{% static 'images/community-icon.png' %}" alt="support">
                    <div class="card-body">
                        <h5 class="card-title">Why you need a community</h5>
                        <p class="card-text">We cannot assume mental well-being anymore.We are here to save a generation being swept away buy a monster called <strong>DEPRESSION</strong></p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- contact section -->
<section id="contact">
    <div class="contact-options">
        <h2>Contact Support</h2>
        <div class="container">
            <div class="card-deck ">
                <div class="card">
                    <img src="{% static 'images/individual-icon.jpg' %}" alt="icon" class="icon">
                    <div class="card-body">
                        <h5 class="card-title">Support for individual</h5>
                        <p class="card-text">Need a personal touch and conversation with one of our representantive?Submit a request and we shall reach out as soon as possible</p>
                    </div>
                    <div class="card-footer">
                        <a href="" class="btn btn-primary btn-block ">Submit a request</a>
                    </div> 
                </div>
                <div class="card">
                    <img src="{% static 'images/support-ind.png' %}" alt="icon" class="icon">
                    <div class="card-body">
                        <h5 class="card-title">Support for Company/Business</h5>
                        <p class="card-text">Our forum is available via a variety of plans to get you the level of help you need.Click the request button below to know more</p>
                        
                    </div>
                    <div class="card-footer">
                        <a href="" class="btn btn-primary btn-block ">Submit a request</a>
                    </div> 
                    
                    
                </div>
                <div class="card">
                    <img src="{% static 'images/person-icon.png' %}" alt="icon" class="icon">
                    <div class="card-body">
                        <h5 class="card-title">Personalized support</h5>
                        <p class="card-text">We hava premium support package for those who want a more personalized professional touch. Submit the request with a click of a button below. </p>
                        
                    </div>
                    <div class="card-footer">
                        <a href="" class="btn btn-primary btn-block ">Submit a request</a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>

</main>
<footer id="footer">
    <ul class="footer-nav">
        <li>About</li>
        <li>ContactUs</li>
        <li>Locate</li>
        <li>&copy; All rights reserved</li>
    </ul>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>